.ppc_error {
	display: none; 
	color: red; 
	font-weight: bold; 
	float: left; 
	margin-top: 1em;
}
.ppc_success {
	display: none;
	color: green;
	font-weight: bold;
	float: left;
	margin-top: 1em;
}
.ppc_ajax_loader {
	display: none;
}
.ppc_table_divider {
	margin-top: 15px;
	height: 1px;
	clear: both;
}
.ppc_hr_divider {
	border-color: #ccc; 
	border-style: solid; 
	border-width: 1px 0 0; 
	clear: both; 
	margin: 5px 0 20px; 
	height: 0;
}
.ppc_payment_column {
    border-bottom: 1px dotted; 
    color: #000000;
}